
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      
      <form #custauthForm="ngForm" (ngSubmit)="onSubmit(custauthForm)">
        <div class="form-group">
          <label for="custname">Customer Name</label>
          <input
            type="text"
            id="custname"
            class="form-control"
            ngModel
            name="custname"
            required
            minlength="6"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!custauthForm.valid"
            (click)=onSubmit(custauthForm)
          >
            Login
          </button>
          
        </div>
      </form>
    </div>
  </div>

  
<a routerLink="/"> back</a>
