<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">ABC bank</p>
    </div>

  </div>
</nav>




<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      
        <div>
            <button class='btn btn-primary' (click)="custlogin()"> login as customer</button>
            |
            <button class='btn btn-primary' (click)="emplogin()">login as Employee</button>

          </div>
        
      
    </div>
  </div>

 